[run]
parallel = true
concurrency =
    thread
    multiprocessing
source =
    waitress
omit =
    waitress/tests/fixtureapps/getline.py

[paths]
source =
    src/waitress
    */src/waitress
    */site-packages/waitress

[report]
show_missing = true
precision = 2
