graft src/waitress
graft tests
graft docs
graft .github

include README.rst
include CHANGES.txt
include HISTORY.txt
include RELEASING.txt
include LICENSE.txt
include contributing.md
include CONTRIBUTORS.txt
include COPYRIGHT.txt

include pyproject.toml setup.cfg
include .coveragerc .flake8
include tox.ini rtd.txt

exclude TODO.txt
prune docs/_build

recursive-exclude * __pycache__ *.py[cod]
